h1{
    color: rgb(5, 49, 249);
    
}
#CSS
body{
    background-image: url(cat.jpg);
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: aqua;
}